<li class="flex border rounded border-slate-400" data-id="{{ id }}">
    <span class="w-full p-2">{{ task }}</span>
    <div>
        <button class="p-2 border hover:bg-black/10">🗑</button>
    </div>
</li>